Can you share your email?

 This is my email address.
ilija.dev7@outlook.com

This is my skype_id.
live:.cid.2ba5f9a583817953

It's not comfortable to keep real time message on fl.

Please send your email to mine.
